{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän Antti muistilista</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää askare</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Tärkeys</th>
        <th>Luokka</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan askareet tähän -->
      <tr>
        <td><a href="#">Kauppalista</a></td>
        <td>3</td>
        <td>Ostokset</td>
        <td><label class="label label-danger">kesken</label></td>
        <td>17.9.2016</td>
        <th><a class="btn btn-default btn-sm" href="#">Avaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
